<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Fanta laranja</mat-card-title>
        <mat-card-subtitle>Coca Cola</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://apoioentrega.vteximg.com.br/arquivos/ids/461129/1668_1.jpg?v=637339727520870000" alt="Fanta laranja de 2 Litro">
    <mat-card-content>
        <div style="color: #43a047;font-weight: bold;" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="end center">
            <mat-icon>monetization_on</mat-icon>
            <span>R$ 4,78</span>
        </div>
    </mat-card-content>
</mat-card>